<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Naive Economics</title>
  <link rel="icon" href="/static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <!-- Nav Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top navbar-article">
    <a class="navbar-brand" href="../">Naive Economics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link here" href="../articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about-me">About Me</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" style="padding-top: 2.5%;">

    <!-- Text -->
    <div class="row text" style="text-align: left; padding: 0 10%; margin-bottom: 5%;">
      <h2 class="title">Why constant deficit spending can be a good thing </h2>

      <p>
        In Germany (Spring 2021), the next general election is just six months away, but one disappointment is already certain: The infamous “debt break” will continue to restrict fiscal policy, even if there was a major shift to the left. Neither the progressive
        Greens (Grüne) nor the Social Democrats (SPD) want to get rid of it and merely talk about “reforming” and “more room for investments” within the existing legislative framework. This exemplifies a huge political problem: Most politicians (and
        mainstream academics) do not understand fiscal policy! The two main tools in that policy area are taxation (subtracting money from the economy, or rather the private sector) and government spending (injecting money into the private sector).
        While there are a lot of things to talk about in this context, I now want to focus on arguments concerning the accumulation of government debt through budget deficits – which, of course, are used to deter the state from spending more money on
        luxuries like green investments in the fight against the climate crisis or social benefits that enable people to live a decent life and to actively participate in social life. In Germany, the narrative about dangerous deficits is so powerful
        that the ruling party (the conservative CDU) considers the “Schwarze Null” (Black Zero a.k.a. the balanced budget) as its greatest political achievement in the previous years and even described it as their „fetish“ in a weird marketing
        campaign.
      </p>
      <p>
        Frankly, virtually all aspects of this narrative are wrong. Firstly, public deficits are private sector surpluses and public surpluses are always at the expense of the private sector (as in Greece) or of the foreign sector through trade
        surpluses (as in Germany). Do you want citizens to have more money (or other financial or material assets)? Then you want your government to run deficits! Secondly, the idea of governments going bankrupt is just wrong. The USA will never
        bankrupt because it controls its own currency and is, therefore, always able to pay back their debt, and in the Eurozone the ECB as the ruler of the “printing press” also declared that it would not let Euro-members get insolvent. Thirdly,
        high deficits do not lead to higher interest rates and a vicious circle of rising debt and interest rates, because interest rates on government bonds are set by the central banks (this is why Spain and Greece both have interest rates only 1%
        higher than Germany). Fourthly, the ECB holds 30% of all public debts in the Eurozone meaning that interest payments on those bonds flow back to the member states – the states basically owe one third of their debt to themselves. Fifthly, the
        huge increase in the supply of central bank reserves (higher-powered money) and rising public debt did not lead to inflation. In fact, inflation in the Eurozone remained below the target value of 2% since 2013. The evidence is crystal clear
        and the need for government expenditures and investments urgent, but still politicians cling to deficit brakes and debt ceilings.
      </p>
      <p>
        These misconceptions can be debunked from various perspectives. In my opinion, MMT offers a cohesive and realistic picture of our monetary system and is the best foundation for designing fiscal policy (foremost quantitatively). But a
        fundamentally new approach forces people to leave their old mindset and is, therefore, often not able to reach or to convince people juggling their old concepts. As an alternative, there is a second approach: Study questions using existing
        frameworks and expose misbeliefs from within them. It is possible, for example, to refute the idea that the national debt-to-GDP-ratio rises endlessly when the government constantly makes deficits and the inequality r > g holds (the rate of
        interest on debt is higher than the GDP growth rate), even under the assumption that government has to finance these deficits through bonds and that fiscal policy has an impact on the inflation rate (the neoclassical Phillips Curve
        relationship). One way to do this is by applying the stock-flow-consistent modelling approach to the question of fiscal sustainability, as it was done by Wynne Godley and Marc Lavoie in an excellent paper (<a
          href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=982839">see here</a>).
      </p>
      <p>
        To make their work more accessible, I used the programming language Python and the Jupyter environment to build an interactive simulation of their model. The Jupyter Notebook also explains the theoretical framework and transparently allows
        the user a look in the machinery room of the model (the underlying code). You can either <a role="button" class="btn btn-outline-light btn-sm" href="./images/fiscal-policy-in-a-SFC-model/Fiscal Policy in a SFC model.ipynb"
          target="_blank">Download</a> the Jupyter Notebook or – in case you do not have a Python interpreter installed – you can open it in (hopefully) any browser (Chrome definitely works) using <a
          href="https://mybinder.org/v2/gh/ffrue/Fiscal-Policy-in-a-SFC-model/d76545a366733ab86e6cb8500213ff7e4ee76479">this link</a>.
      </p>
      <p>
        To execute the programme, you have to select the first file and then click “Cell” on the upper bar and select “Run all” (this is also the way to reset the Notebook to its inital state). After that you can use the programme by clicking the
        various buttons within the Notebook, which should be self-explanatory. The main takeaways from (and limitations of) the model are also described in the Notebook, but I want to stress one important point I raise at the end: an alternative
        approach to spending more. Under current legislative frameworks all around the globe, governments are obligated to issue bonds for every digital banknote they spend more than they raise in taxes. This is a political choice! They could also
        just instruct their respective central bank to credit the account of a commercial bank (which in the next step credits the account of a civil servant, for example). Following the rules of double-entry bookkeeping, the central bank would in
        return either have to charge the account of the government or reduce its own equity. Now the interesting part: Both the state account and the central bank equity can become negative! This is the reason why there is no need for generating an
        inflow in money (e.g., via taxation or issuing bonds) for injecting money in the private sector. This is de facto not different from issuing bonds that are bought by the central bank, it only makes the logic transparent – a relevant aspect in
        a democracy. The difference to selling bonds to the private sector is also clear: In the latter case, the private sector does give up cash (to buy bonds) in the present and has more money in the future (when the buyers get back the face value
        plus interest). Therefore, inflationary pressure is reduced in the present but increased in the future (limiting the fiscal space for the future government). At least insofar (!) the buyers’ temporal loss of/gain in cash leads to a
        reduction/increase in effective demand – which is probably not the case, when government bonds are primarily bought by financial institutions and wealthy individuals with a very low propensity to consume, as it is the modus operandi. However,
        the fact that government bonds are – normally – interest bearing also has negative implications regarding inequality: wealthy buyers of government bonds that take no risk (since most governments never default on their loans) and contribute no
        meaningful service (since governments could alternatively simply create money themselves) are still rewarded with interest payments. On the other side, financially weak households get nothing out of this game, meaning that overall inequality
        rises (the current practice of quantitative easing by central banks leads to the same problem). Despite these two problems, even progressive groups like “fiscalfuture” in Germany do not make the case for partially replacing government bonds
        with simple overdrafts of the government at its own central bank. In my opinion, this is a big neglect.
      </p>
      <p>
        Having said that, I hope the presented paper and simulation in the linked notebook provide useful and interesting insights into the workings of fiscal deficits and government debts and make a convincing case for more expansionary fiscal
        policies that can contribute a great deal to solving the most urgent crises of our time.
      </p>
    </div>

    <div class="bottom">
      © Florian Frühhaber
    </div>
  </div>
</body>

</html>
