<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Naive Economics</title>
  <link rel="icon" href="/static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <!-- Nav Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top navbar-article">
    <a class="navbar-brand" href="../">Naive Economics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link here" href="../articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../datawork">Datawork</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../models">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about-me">About Me</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" style="padding-top: 2.5%;">

    <!-- Text -->
    <div class="row text" style="text-align: left; padding: 0 10%; margin-bottom: 5%;">
      <p class="disclaimer">
          Folgender Text wurde von mir gemeinsam mit anderen Grüne Jugend Mitgliedern als Antrag
          für den GJ-Länderrat 2022 verfasst und ist bisher nicht zur Abstimmung gekommen.
          Er spiegelt damit nur die Meinung der Verfasser und nicht der Grünen Jugend wieder.
          Eine Langfassung mit mehr Erklärungen und Hintergründen bildet
          <a href="static/neue-finanzpolitik-europa/Eine neue Finanzpolitik für Europa - Impulspapier.pdf" target='_blank'>dieses Impulspapier</a>.
      </p>

      <h2 class="title">Ein neuer finanzpolitischer Rahmen für Europa</h2>

      <p>
        Europa ist im Dauer-Krisenmodus: Während Inflation, Kriege, die Klimakatastrophe und schwelender
        Nationalismus unser aller Existenz bedrohen, sind viele europäische Staaten durch handlungsunwillige
        Politik und willkürlich festgesetzte Schuldengrenzen gefesselt. Dazu kommen die bis heute spürbaren
        Folgen der Finanz- und Eurokrise sowie der zahlreichen wirtschaftspolitischen Fehler in den Jahren
        danach: Anstatt zu investieren, zwang sich die Eurozone zum Sparen.
      </p>

    <p>
        All diese Krisen sind zu groß, als dass einzelne Länder sie allein angehen könnten. Sie erfordern
        zwingend mehr europäische Zusammenarbeit, was nur mit einer Reform der europäischen Institutionen
        möglich ist. Nur durch weitere Integrationsschritte kann die Eurozone monetär und gesamtwirtschaftlich
        souverän und zu einer stabilen Währungsunion werden. Die im Folgenden vorgeschlagenen Maßnahmen sind
        notwendig, um die zahlreichen aktuellen Herausforderungen zu bewältigen, nachhaltige wirtschaftliche
        Entwicklung zu fördern und konkrete Schritte hin zu einem zukünftigen europäischen Bundesstaat zu tun,
        zu dem sich auch im Ampel-Koalitionsvertrag bekannt wurde.
    </p>

    <h3>Der monetären Integration muss eine fiskalische folgen</h3>
    <p>
        Die Einführung des Euro war ein politisch beeindruckender und historisch wichtiger Schritt hin zu
        mehr Zusammenarbeit. Seine Architektur blieb jedoch stets unfertig und brachte zahlreiche Probleme
        mit sich, die sich besonders in der Eurokrise und der darauf folgenden Austeritätsdekade offenbarten
        - mitsamt ihrer fatalen Auswirkungen etwa auf Investitionstätigkeit, öffentliche Daseinsvorsorge und
        die zunehmende ökonomische Ungleichheit innerhalb der und zwischen den Euro-Mitgliedsländern.
    </p>

    <h5>Ein Haushalt für alle</h5>
    <p>
        Eine zentrale Leerstelle ist bei alledem die fehlende fiskalische Integration. Europa braucht endlich
        einen richtigen, <i>gemeinsamen Haushalt</i>, der einige zentrale staatliche Ausgaben tätigt und mit eigenen
        Einnahmen deckt. Wo Krisen in einzelnen Ländern sonst die Staatsfinanzen zwangsläufig einschränken und
        so die Erholung erschweren, würde ein gemeinsamer Haushalt stattdessen als automatischer Stabilisator
        wirken und bei asymmetrischen (länderspezifischen) Schocks ein Auseinanderdriften der Staaten verhindern.
    </p>

    <p>
        Dazu wollen wir besonders zyklische Einnahmen und Ausgaben integrieren, d.h. Ausgaben, die in Krisenzeiten
        steigen, und Einnahmen, die gleichzeitig fallen. Auf diese Weise erhalten automatisch diejenigen Länder
        Nettotransfers aus dem Haushalt, denen es wirtschaftlich schlechter geht als dem Rest. Auf der Einnahmenseite
        bieten sich hier beispielsweise <i>gemeinsam festgelegte Unternehmens- und Kapitalertragssteuern</i> an, was
        zugleich einen schädlichen Steuerwettbewerb verhindert. Auf der Ausgabenseite braucht es etwa eine
        europäische Arbeitslosigkeitsversicherung, die ggf. national aufgestockt und perspektivisch zu einer
        <i>europäischen Jobgarantie</i> entwickelt werden kann. Die Europäisierung derartiger Maßnahmen würde zudem
        die nationalen Arbeitsmärkte stärker angleichen, um Sozialstaatsabbau und Lohndumping als
        Wettbewerbspolitik unmöglich zu machen. Selbstverständlich ersetzt die Stabilisierungsfunktion eines
        europäischen Haushalts keineswegs eine aktive antizyklische Wirtschaftspolitik, die parallel weiterhin
        erfolgen muss.
    </p>

    <p>
        Ein gemeinsamer Haushalt kann zudem effizient öffentliche Güter auf europäischer Ebene bereitstellen, bei
        denen es ein transnationales Trittbrettfahrerproblem gibt (dies bedeutet, dass Nationalstaaten zu wenig
        tun, weil sie von den Anstrengungen anderer profitieren). Wie aktuelle Krisen zeigen, zählen dazu vor
        allem Investitionen in den Klimaschutz sowie Ausgaben für die kollektive Verteidigung. Um dieses Problem
        zu lösen und um die Entwicklungskonvergenz der europäischen Staaten zu fördern, fordern wir neben dem
        europäischen Haushalt zudem einen <i>europäischen Transfermechanismus</i> nach dem Vorbild des deutschen
        Länderfinanzausgleichs. Mit diesem können sowohl temporäre als auch strukturelle Probleme effektiver
        angegangen und Impulse zur wirtschaftlichen Entwicklung besonders in gegenwärtig schwachen Regionen
        geschaffen werden.
    </p>

    <h5>Gemeinsame Währung, gemeinsame Verschuldung</h5>
    <p>
        Wir als Grüne Jugend fordern zur fiskalpolitischen Integration die Einführung eines <i>dauerhaften
        Instruments</i> zur gemeinsamen Verschuldung in Form einer grünen Anleihe.
        Diese bietet folgende Vorteile
    </p>
    <ul style="padding-left: 5%;">
        <li>
          Durch eine (explizite oder implizite) Garantie der EZB würde eine solche Anleihe risikolos sein und als europäisches Safe Asset die Finanzmärkte stabilisieren.
        </li>
        <li>
          Ein solches Asset erleichtert es der EZB, die Zinskurve in der gesamten Eurozone zu kontrollieren. Gegenwärtig ist diese Zinssteuerung durch Spreads (d.h. von Finanzmärkten verursachten, länderspezifischen Zinsaufschlägen auf nationale Staatsanleihen) gestört.
        </li>
        <li>
          Ohne ein Ausfallrisiko wird ein niedrigeres und stabileres Zinsniveau hergestellt.
        </li>
        <li>
          Es entsteht ein Level Playing Field für Unternehmensfinanzierungen, deren Zinsen sich bisher an denen nationaler Staatsanleihen orientieren.
        </li>
        <li>
          Zinskosten, die eine große Belastung für die Haushalte einiger Euro-Länder darstellen, werden reduziert und stabilisiert, sodass die Staaten mehr Planungssicherheit und Gestaltungsspielräume haben.
        </li>
    </ul>

    <p>
        Selbstverständlich muss eine kollektive Verschuldung der Eurozone klug gestaltet werden. So ist
        unbestreitbar, dass das Teilen einer gemeinsamen Währung erfordert, <i>über die Neuschöpfung dieses Geldes
        gemeinsam zu entscheiden</i>. Dies betrifft nicht nur das jährliche Emissionsvolumen und dessen Verteilung
        auf die einzelnen Länder sowie den gemeinsamen Haushalt, sondern auch den angestrebten Zinssatz.
        Schließlich hat die Vergangenheit gezeigt, dass die ''Disziplinierung'' von Staaten durch marktgetriebene
        Zinsen nicht funktioniert, sodass eine politische Festsetzung mehr Vor- als Nachteile bringt.
    </p>

    <p>
        Eine autonome Emission nationalstaatlicher Anleihen wäre selbst bei Einführung einer gemeinsamen Euro-Anleihe
        weiterhin möglich. Diese würde dann jedoch nicht der gemeinschaftlichen Haftung unterliegen und müsste sich
        innerhalb neu definierter Fiskalregeln bewegen. So können in einem bundesstaatlichen System zentrale staatliche
        Aufgaben auf bundesstaatlicher Ebene erfüllt und finanziert werden, für die alle Staaten gemeinsam haften.
        Für die separate Verschuldung der einzelnen Bundesstaaten hingegen haften diese ausschließlich selbst.
    </p>

    <h5>Neue Fiskalregeln für die Übergangszeit</h5>
    <p>
        Solange keine weitreichende fiskalische Integration erfolgt ist, brauchen wir bessere Fiskalregeln für nationale
        Haushaltspolitik. Wir als Grüne Jugend fordern solche Fiskalregeln, die eine nachhaltige, stabile und soziale
        wirtschaftliche Entwicklung ermöglichen.
    </p>

    <p>
        Die bisherigen Fiskalregeln beruhen auf willkürlich festgelegten numerischen Grenzwerten sowie ''disziplinierenden''
        Finanzmärkten, die nicht demokratische legitimiert sind und oft selbst Fehlentwicklungen hervorgerufen haben, anstatt
        sie zu verhindern. Reformierte Regeln hingegen müssen
    </p>

    <ul style="padding-left: 5%;">
        <li>
          in eine gesamtwirtschaftliche Betrachtung eingebettet sein, die anhand qualitativer Standards Notwendigkeit und Sinnhaftigkeit neuer Verschuldung evaluiert,
        </li>
        <li>
          temporäre sowie strukturelle Probleme adressieren, also langfristige Investitionen genau so wie antizyklische Ausgaben ermöglichen,
        </li>
        <li>
          demokratisch legitimiert sowie ökonomisch fundiert sein.
        </li>
    </ul>

    <p>
        Es ist eindeutig, dass die aktuelle Position der Bundesregierung hinter den genannten Kriterien weit zurückbleibt
        und in der jetzigen Form keine Grundlage für eine Reform der Fiskalregeln für die Zeit bis zu einem substantiellen
        Fortschritt bei der europäischen Integration sein darf.
    </p>

    <h3>EZB nicht mehr alleine lassen</h3>
    <p>
        Seit ihrer Gründung hat sich wiederholt gezeigt, dass die EZB mit den ihr zur Verfügung stehenden Instrumenten das Inflationsziel
        nicht für alle Staaten der Eurozone durchsetzen kann. Ihr Hauptwerkzeug, die Zinspolitik, konnte nach der Finanzkrise
        weder die Nachfrage ausreichend stimulieren noch kann es in der aktuellen Inflation die entscheidenden Problemstellen
        adressieren. Daher darf das Verfolgen des Inflationsziels nicht allein Aufgabe der Geldpolitik bleiben, sondern
        auch die Fiskal- und Ordnungspolitik müssen dieses anstreben. Das aktuelle wirtschaftspolitische Rahmenwerk steht dem
        jedoch entgegen: So wird beispielsweise im Europäischen Semester nur zu hohes, aber nicht zu niedriges Lohnwachstum als
        problematisch eingestuft, obwohl zu niedrige Löhne etwa in Deutschland lange Zeit für zu niedrige Inflationsraten und
        wachsende Handelsungleichgewichte gesorgt haben. Stattdessen sollte sich von oben wie von unten an ein Lohnwachstum
        gemäß der goldenen Regel angenähert werden (Nominallohnzuwachs = Produktivitätszuwachs + Inflationsziel).
    </p>

    <p>
        Da gegenwärtige Instrumente von Zentralbanken die Ungleichheit verstärken können, wollen wir als Grüne Jugend der EZB die
        Möglichkeit geben, <i>Direkttransfers an private und öffentliche Haushalte</i> (Outright Transfers, OT) zu tätigen. Damit kann
        die EZB besser die effektive Nachfrage steuern und eine funktionierende Inflationspolitik auch an der Nullzinsgrenze
        betreiben. Zudem könnte dadurch die Durchsetzung von Preisstabilität mit verteilungspolitischen Zielen verknüpft werden.
        Dies würde natürlich sowohl die Zustimmung des EZB-Rats als auch gewählter Parlamentarier erfordern und müsste im
        Einklang mit den Inflationszielen stehen. Ein <i>digitaler Euro</i> würde die notwendige Infrastruktur für Direkttransfers
        schaffen und sollte unter anderem deshalb baldmöglichst eingeführt werden.
    </p>

    <p>
        Darüber hinaus fordern wir als Grüne Jugend eine <i>Erweiterung des Primärmandats der EZB</i> um die Ziele ''nachhaltige wirtschaftliche Entwicklung''
        und ''Vollbeschäftigung''. Zudem sollen ihre Maßnahmen klimafreundlich gestaltet werden und die Konvergenz der Euro-Mitglieder
        fördern.
    </p>

    <h5>Die Eurozone demokratisieren</h5>
    <p>
        Europäische Finanzpolitik wird derzeit vor allem von EU-Kommission und Eurogruppe bestimmt. Beiden Gremien fehlt eine direkte demokratische Legitimierung
        und sie bilden die bestehende Meinungsvielfalt nur ungenügend ab. Stattdessen braucht es eine Stärkung des EU-Parlaments sowie die <i>Ablösung der
        intransparenten Eurogruppe durch eine ständige Vertretung</i> aus nationalen Delegierten. Dieses Organ muss das Einstimmigkeitsprinzip
        hinter sich lassen und eine klare vertragliche Grundlage besitzen. Es wird gebraucht, um die gegenwärtig von Nationalstaaten dominierte
        Fiskalpolitik europäisch zu koordinieren und beispielsweise die Einhaltung qualitativer Standards für nationale Haushaltspolitik auf
        Grundlage von Expert:innengutachten zu überprüfen. Zur Stärkung der politischen Legitimität europäischer Wirtschaftspolitik muss zudem der
        <i>Austausch zwischen EZB und EU-Parlament gestärkt</i> werden, etwa indem bei den vierteljährlichen Aussprachen die für das Sekundärmandat
        der EZB relevanten wirtschaftspolitischen Ziele konkretisiert werden und die vergangene Geldpolitik daran evaluiert wird.
    </p>

    <h5>Fazit</h5>
    <p>
        Um aktuelle Herausforderungen effektiv zu bewältigen, die sozialökologische Transformation zu beschleunigen und Europa zu stärken, muss das Rahmenwerk der
        Eurozone grundlegend reformiert werden. Daher fordern wir als Grüne Jugend insbesondere:
    </p>
    <ul style="padding-left: 5%;">
        <li>
          einen starken europäischen Haushalt mit gemeinsamer Verschuldung
        </li>
        <li>
          eine Reform der europäischen Fiskalregeln, v. a. durch qualitative Standards
        </li>
        <li>
          eine Erweiterung des EZB-Mandats und Direkttransfers als neues geldpolitisches Instrument
        </li>
        <li>
            Preisstabilität auch zur Aufgabe von Fiskal- und Ordnungspolitik zu machen
        </li>
        <li>
            eine transparente und demokratische Reform der politischen Entscheidungsprozess
        </li>
    </ul>

    <p>
        Die Zeichen für eine Reform und Weiterentwicklung der Eurozone und der restlichen Union stehen gut, denn die Zustimmungswerte zum Euro sind in allen Ländern
        gegenwärtig so hoch wie lange nicht. Die große Mehrheit der Bürger:innen wünscht sich mehr europäische Zusammenarbeit für ein starkes,
        nachhaltiges, soziales und demokratisches Europa. Mit ihrer Unterstützung muss Deutschland seine Blockadehaltung aufgeben und stattdessen
        gemeinsam mit den anderen EU-Staaten den Prozess starten, das wirtschaftspolitische Fundament Europas zu reformieren und eine stabile Architektur
        für die Zukunft schaffen. Die Zeit drängt.
    </p>

    </div>

    <div class="bottom">
      © Florian Frühhaber
    </div>

</body>

</html>
