<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Naive Economics</title>
  <link rel="icon" href="/static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/unattraktivster-sixpack-der-welt/images.css">
</head>

<body>

  <!-- Nav Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top  navbar-article">
    <a class="navbar-brand" href="../">Naive Economics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link here" href="../articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about-me">About Me</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" style="padding-top: 2.5%;">

    <!-- Text -->
    <div class="row text" style="text-align: left; padding: 0 10%; margin-bottom: 5%;">
      <h2 class="title">Der unattraktivste Sixpack der Welt</h2>

      <p>
      Die Europäische Union hat viele Eigenschaften, die man im politischen Kontext als „sexy“ bezeichnen kann: Ihre Bürger können überall in den Urlaub fahren, ohne an Grenzen zu warten oder Geld umzutauschen, ihre Mitgliedsstaaten treten als
      Soft-Superpower gemeinsam autoritären Despoten entgegen (außer wir brauchen sie für Öl oder gegen Flüchtlinge oder als Absatzmärkte), sie ermöglicht beeindruckende Forschungsprojekte und falls das eigene Land peinlich früh aus einer Fußball-WM
      ausscheidet, kann man immer noch seinen europäischen Freunden (zuvor erbitterte Rivalen) die Daumen drücken. Was man der EU auch nicht absprechen kann, ist ein Händchen für Pathos und große Worte – oder weniger nett gesagt: irreführendes
      Framing. Einer der größten kommunikativen Coups in diesem Kontext ist wohl der sog. „Sixpack“, ein Maßnahmenpaket aus fünf Verordnungen und einer Richtlinie, die Europa augenscheinlich durch strenge Disziplin stark und gehärtet und einfach
      verdammt hot machen sollen. Was sich dahinter verbirgt? Die Durchsetzungsmaßnahmen für haushaltspolitische Überwachung und Korrektur übermäßiger makroökonomischer Ungleichgewichte und damit der wohl größte Abturn der EU-Politik.
      </p>
      <p>
        Grob gesagt erweitert der „Sixpack“ die Verordnungen 1466 und 1467 aus dem Jahr 1997, die sich wiederum auf Regelungen aus dem Maastricher Vertrag von 1992 beziehen, in denen die berühmt berüchtigten Haushaltsziele der EU (3% Defizitlimit und
        60% Schuldengrenze) vereinbart wurden. Im Folgenden will ich die sechs Regelungen (in logischer, nicht in numerischer Reihenfolge) sowie den daran anknüpfenden Fiskalvertrag von 2012 einmal vorstellen, durch Kritik von innen und außen
        einordnen und zuletzt die Bedeutung der EU-Maßnahmen gegen die Coronapandemie (besonders den Wiederaufbaufonds Next Generation EU) für die lange Sicht abschätzen. Alle wichtigen Dokumente sind unten als Dateien angehängt.
      </p>

        <h4>1. Verordnung 1175/2011: Die Zügel werden gestrafft</h4>

        <p>
        Verordnung 1175/2011 erweitert die Verordnung 1466/1997 ohne dabei ihren zentralen Kern, den Stabilitäts- und Wachstumspakt (SWP), anzutasten. Für alle die – wie ich – immer davon ausgingen, der SWP sei ein ausgetüfteltes Werk von enormem
        Umfang: Nein, ist er nicht. Der SWP besteht aus Art. 126 AEUV (begründet Defizit- und Schuldenstand-Richtwert sowie das Verfahren bei Verstößen, jedoch ohne Zahlen zu nennen) samt dazugehörigem <a
          href="http://flegel-g.de/Protokoll12.html">Protokoll Nr. 12</a> sowie den erwähnten Verordnungen 1466 und 1467, insgesamt also gerade einmal 15 Seiten Papier. Deren Inhalt hat es allerdings durchaus in sich, so bestätigt 1466 etwa die
        3%-Defizitgrenze (bzw. Nettoneuverschuldungsgrenze) und den 60%-Schuldenquotenzielwert von 1992. Woher die Zahlen damals kamen? Eine Antwort darauf findet sich nicht in der Volkswirtschaftslehre. Zwar halten viele Vertreter dieser Disziplin
        zu hohe Defizite und Schuldenquoten für gefährlich, können aber partout nicht sagen, ab wann sie zum Problem werden; stattdessen haben die Politiker der damaligen Verhandlungspartner schlicht den Durchschnitt ihrer damaligen Defizite und
        Schuldenstände berechnet und diesen als Richtwert gesetzlich verankert, reine Willkür also. Mit Blick auf diese Richtwerte müssen Kandidaten für die Aufnahme in die Eurozone sowie alle anderen EU-Mitglieder ohne Euro Konvergenzprogramme
        vorlegen, Mitglieder der Eurozone hingegen Stabilitätsprogramme (was wiederum ein witziges Framing ist, da zwischen Eurozonen-Mitglieder ebenfalls durchaus massive Notwendigkeit zur Konvergenz besteht). Die EU-Kommission überprüft dann, ob
        die haushaltspolitischen Programme mit einem Erreichen der Zielwerte in der langen Frist vereinbar ist und gewährt nur bei außergewöhnlichen Ereignissen oder tiefen Strukturreformen Ausnahmen. Zumindest ist das der Anspruch, denn Deutschland
        hat Anfang der 2000er die Vorgaben ebenfalls verletzt und allein mit politischem Druck dafür gesorgt, dass dies von den Partnern gebilligt wurde.
      </p>
      <p>
        Was 1175 nun als zentrale Institution etabliert, ist das sog. „Europäische Semester“. Dieses bezeichnet ein jährliches Verfahren, in dem die EU die Umsetzung der koordinierten Wirtschaftspolitik nach Art. 121 AEUV überwacht, die Stabilitäts-
        und Konvergenzprogramme überprüft, nationale Programme zur Umsetzung der beschäftigungspolitischen Leitlinien sowie der Strategie der EU für Wachstum und Beschäftigung bewertet (beides mehr oder weniger verbindliche Vorgaben für eine „gute“
        Wirtschaftspolitik) und die Vermeidung/Korrektur makroökonomischer Ungleichgewichte (nach 1176/2011, siehe unten) kontrolliert. Darüber hinaus erstellt die Kommission länderspezifische „Empfehlungen“ (Country Specific Recommendations, kurz
        CSRs), deren Missachtung Verwarnungen und Sanktionen nachziehen kann (mehr dazu in 1176/2011). Diese CSRs sind ein Witz für sich und verdienen eigentlich eine eigene Abrechnung, aber da sie so gut in diesem Kontext passen, will ich ihren
        Charakter an den Beispielen Deutschland und Italien verdeutlichen (auch hier ist eine Zusammenstellung seit 2013 unten angehängt).
      </p>
      <p>
        Für Deutschland ist der Grundtenor ungefähr so: Weiterhin solide wirtschaften, Abgaben und Ausgaben möglichst kürzen, Renteneintrittsalter eher noch weiter erhöhen, Wettbewerb weiter beleben, Investitionen beibehalten/ausbauen und bitte
        einfach so geil bleiben wie bisher. Italien hingegen muss sich etwas Anderes anhören: Defizit senken, Arbeitsmarkt flexibilisieren, Steuern runter und endlich konsequent eintreiben, Schulden abbauen, Verwaltung verschlanken, Wirtschaft
        deregulieren, Defizit verringern, Kredite abbezahlen, Ausgaben kürzen, mehr Frauen in Jobs bringen und nicht zu vergessen: eNdLIcH scHUlDen AbBauEn uND dAs DEfiZiT sEnKEn. Einem Land, dessen Hautprobleme in zu geringer Binnennachfrage gerade
        wegen zu geringer Löhne und zu wenig Staatsausgaben liegt (Italien hat zwischen 1994 und 2020 nur ein einziges Jahr keinen Primärüberschuss eingefahren!), muss das wie Hohn und Spott vorkommen (mehr zu Italiens Problemen bzw. Nicht-Problemen
        und deren Ursachen findet sich <a href="https://www.ineteconomics.org/perspectives/blog/how-to-ruin-a-country-in-three-decades">hier</a> und <a href="https://kontrast.at/italien-wirtschaft-wirtschaftsprobleme-eu/">hier</a>). Die CSRs sind
        letztlich wenig anderes als die neoliberalen Rezepte, die der Eurozone seit ihrer Gründung Probleme machen.
      </p>
      <p>
        Doch zurück zu Verordnung 1175/2011. Diese führt neben dem Europäischen Semester nicht nur regelmäßige wirtschaftspolitische Dialogforen ein, sondern verschärft auch noch einige zuvor geltende Regeln. So sollen die Richtwerte jetzt nicht nur
        eingehalten, sondern auch eine Sicherheitsmarge zu diesen eingehalten werden, und nach einer Überschreitung der Schuldenquote das Haushaltsdefizit nicht höher als 0.5% des BIPs betragen. Ganz unabhängig vom Defizitrichtwert 3% sollen
        Ausgabensteigerung zudem nicht beliebig hoch sein und der fiskalische Spielraum vom potenziellen BIP-Wachstum abhängen. Je größer das BIP sein *könnte* (im Vergleich zu der Größe, die es real hat), desto mehr darf die Regierung ausgeben (weil
        bei den Wirtschaftskapazitäten noch Luft nach oben ist). Das klingt vernünftig, ist es aber nicht. Das potenzielle BIP ist enorm schwer zu bestimmen und die Berechnungsmethode so schlecht, dass es sich mehr oder weniger nur mit dem
        tatsächlichen BIP mitbewegt. Rutscht ein Land also plötzlich in eine Krise, schrumpft angeblich auch das potenzielle BIP (was offensichtlich keinen Sinn macht, da ja immer noch die gleichen Menschen, Produktionsanlagen und Technologien zur
        Verfügung stehen) und schränkt die in der Rezession benötigten Mehrausgaben des Staates ein. Zuletzt betont 1175 noch die Notwendigkeit zur politischen Unabhängigkeit der nationalen Statistikbehörden, was tatsächlich Sinn macht, um ein
        zweites Griechenland (, das sich bekanntermaßen ja nur mit geschönten Zahlen in die Eurozone geschmuggelt hat) zu verhindern.
      </p>

      <h4>2. Verordnung 1177/2011: Ein bisschen Flexibilität ist okay</h4>

      <p>
        So wie 1175 eine Erweiterung zu 1466 darstellt, so ist 1177 eine Erweiterung zu 1467 (zur Erinnerung beides Kernelemente des SWP), jene Verordnung also, die das Defizitverfahren bei Missachtung von 1466 umriss. Dieses besteht darin, dass die
        Kommission „sündige“ Mitgliedsländer zunächst einmal verwarnt und ihnen anschließen erklärt, was nun zu tun sei, um sich wieder im Einklang mit dem Zielvorgaben zu bewegen. Werden diese „Empfehlungen“ nicht erfüllt, so drohen Sanktionen:
        Zunächst muss eine unverzinsliche Einlage hinterlegt werden, deren Höhe sich aus einer festen Komponente von 0.2% des BIPs (für Italien wären das z.B. 4 Milliarden €) und einer variablen Komponente (ein Zehntel der Differenz zwischen
        tatsächlichem Defizit und 3% Ziel) zusammensetzt, wobei die Einlage nicht höher als 0.5% des BIPs sein und bei mangelnder Kooperation auch verzinst werden darf. Wird der Regelverstoß nach zwei Jahren nicht ausreichend korrigiert, so wird die
        Einlage in eine Geldbuße umgewandelt. 1177 ermöglicht nun eine flexiblere Auslegung des Defizitkriteriums für Länder, die das Schuldenquotenziel erreichen (2019 waren das noch 10 von 19 Euroländern, nach Corona dürften es maximal noch 7
        sein). Zudem wird angemahnt, dass eine breitere Palette an Indikatoren für die Beurteilung der Länderprogramme herangezogen und Rentenreformen eine besondere Beachtung mit Blick auf Haushaltsrisiken geschenkt werden sollen.
      </p>

      <h4>3. Richtlinie 2011/85/EU: Nicht so wichtig</h4>

      <p>
        Auch die einzige Richtlinie im „Sickpack“ macht lediglich einige Vorgaben für die Beurteilung der nationalen Policies, insbesondere für die verwendeten Statistiken und Prognosen zur Einschätzung der wirtschaftlichen Entwicklung (diese dürfen
        nicht zu optimistisch sein) und für das Aufstellen mittelfristiger Haushaltspläne (hier soll im nationalen Recht eine starke Orientierung an EU-Haushaltszielen verankert sein).
      </p>

      <h4>4. Verordnung 1173/2011: Mehr ist genauso viel wie vorher
      </h4>
      <p>
        VO 1173 dreht sich gemäß ihrer Überschrift um die wirksame Durchsetzung der oben beschrieben haushaltspolitischen Überwachung. Diese sei notwendig, um Glaubwürdigkeit zu schaffen (vermutlich damit die Finanzmärkte bitte, bitte, bitte
        weiterhin Staatsanleihen kaufen). Letztlich werden hier nur noch einmal bestehenden Sanktionsmechanismen bekräftigt und der politische Prozess zu deren Verhängung etwas umgestaltet. Die zentralen Inhalte zu der Ausgestaltung der Strafen
        bleiben jedoch identisch und werden lediglich in das Gesamtkunstwerk aus Europäischem Semester mit CSRs, SWP und „Macroeconomics Imbalance Procedure“ (MIP) eingebettet. Letzteres ist ein essentieller Teil des „Sixpacks“ und wird im Folgenden
        beleuchtet.
      </p>

      <h4>5. Verordnung 1176/2011: Dreistigkeit siegt</h4>

      <p>
        Als angebliche Lehre aus der Eurokrise ergänzt VO 1176 den Art. 121 AEUV, der als Konvergenzkriterien die Inflationsrate, tragfähige Finanzen, Wechselkursstabilität und Zinsangleichung auflistet, indem nun auch Warn- und Korrekturmechanismen
        für makroökonomische Ungleichgewichte hinzugefügt werden. Was mit diesen Ungleichheiten gemeint ist, lässt sich am MIP-Scoreboard sehen, das für verschiedene relevante Indikatoren Schwellenwerte als Warnwerte definiert. Bei den internen
        Ungleichgewichten (innerhalb eines Landes) werden öffentliche und private Verschuldung, Entwicklung von Finanz- und Anlagemärkten (explizit auch Immobilienmarkt), Kreditströme und Arbeitslosigkeit genannt. Zu den Faktoren für externe
        Ungleichgewichte (zwischen Ländern) gehören Leistungsbilanzsaldos (Exporte-Importe im Verhältnis zum BIP), Nettoinvestitionspositionen (Verbindlichkeiten der Bürger eines Landes ggü. dem Ausland), der reale effektive Wechselkurs (quasi
        Kaufkraft der eigenen Währung ggü. dem Durchschnitt aller Handelspartnern), Anteile an Exportmärkten, Veränderung der relativen Preis- und Kostenentwicklung (v.a. Lohnkosten) und nichtpreisgebunde Wettbewerbsfähigkeit (z.B. Technologiegehalt
        der Güter, Qualität von Dienstleistungen, Produktdifferenzierung etc.).
      </p>

      <div class="figure">
        <img src="/static/unattraktivster-sixpack-der-welt/scoreboard.png" id="scoreboard" />
        <p class="fig-desc">
          Quelle: EU Kommission
        </p>
      </div>

      <p>
        Wer sich bereits ein wenig mit den Ursachen der Eurokrise beschäftigt hat, weiß vermutlich, dass das Hauptproblem darin lag, dass Deutschland nach der Jahrtausendwende unter Gerhard Schröder seine Löhne niedrig gehalten hat, um sich unfaire
        Wettbewerbsvorteile zu erschleichen. Normalerweise würde in so einem Falle die eigene Währung aufwerten und den Produktionskostenvorteil auf diese Weise ausgleichen. Doch da die restliche Eurozone ihr Lohnwachstum richtigerweise am
        2%-Inflationsziel der EZB ausrichtete (bzw. Südeuropa sogar noch darüber hinaus ging), hielt dies den Euro schwächer, als er für Deutschland hätte sein müssen und Deutschland konnte seine Exportanteile ausbauen (ausführlicher nachzulesen u.a.
        hier). Es scheint, als wären hier tatsächlich Lehren aus der Eurokrise gezogen worden, wie es in jedem einzelnen Dokument gebetsmühlenartig verkündet wird.
      </p>
      <p>
        Doch Moment, bekommt die Kommission überhaupt Waffen an die Hand, um gegen Ungleichgewichte vorzugehen? Ja, denn das Verfahren bei Verstößen ist analog zum Defizitverfahren aus VO 1467 bzw. VO 1173: „Empfehlungen“, verschärfte Überwachung und
        als letzter Schritt schließlich Einlagen bzw. Geldbußen. Hier ist der EU also wirklich ein großer Wurf gelungen, dem nationalen Egoismus wurde Einhalt geboten und das Wohl der Gemeinschaft durch erzwungene Konvergenz gesichert. Könnte man
        denken. Aber natürlich sehen Länder wie Deutschland (200 Milliarden Euro Handelsbilanzüberschuss in 2019) oder die Niederlande (über 80 Milliarden Euro Überschuss in 2018) überhaupt nicht ein, warum sie plötzlich Reformen durchführen sollten,
        wenn sie doch schlicht ihre gottgegebenen Rollen als weltmeisterliche Exportnationen erfüllen. Darin liegt vermutlich der Grund, warum bereits in der VO 1776 betont wird, dass Abweichungen von den Schwellenwerten per se ja kein Problem seien
        und stattdessen im Gesamtkontext gesehen werden müssten. Und da zum Gesamtbild u.a. auch Staatsverschuldung und gleich vier (!) Indikatoren zur Beschäftigungsquote gehören (die bei hohen Exporten tendenziell niedriger liegen), stehen
        Deutschland oder die Niederlande hier natürlich vorbildlich da.
      </p>
      <p>
        Dies ist jedoch nicht der einzige politische Kniff: Der Schwellenwert für den Indikator Exportanteil am Weltmarkt liegt bei -6%, heißt also, man darf nur nicht zu viele Anteile verlieren, aber es ist egal wie viele man dazugewinnt.
        Exportanteile sind jedoch ein Nullsummenspiel: Wenn ein Land 5% hinzugewinnt, müssen andere Länder verlieren, es macht also überhaupt keinen Sinn, hier nur eine Untergrenze zu ziehen. Die größte Dreistigkeit versteckt sich jedoch hinter dem
        Indikator „nominale Lohnstückkosten“. Wie bereits erwähnt, liegt das wohl größte Problem der Eurozone in der zu schwachen Lohnentwicklung in Deutschland, die dazu führt, dass Deutschland unfaire Handelsvorteile einfährt und die EZB ihr
        Inflationsziel nicht erreichen kann. Um nämlich 2% Inflation zu erreichen, müssen die Nominallöhne um 2% schneller wachsen als die Produktivität (für Hintergründe verweise ich wieder auf Heiner Flassbeck).
      </p>
      <p>
        Das MIP-Scoreboard macht nun so ziemlich alles falsch, was man falsch machen kann: Zuerst einmal wird nicht das Lohnniveau betrachtet (zur Erinnerung: in Deutschland viel zu niedrig durch unfaire Lohnzurückhaltung), sondern nur die
        Lohnentwicklung in den jeweils letzten drei Jahren. Es wird also suggeriert, dass keine Ungleichgewichte auftreten, wenn Deutschland und Griechenland die gleiche Lohnsteigerungsrate haben, obwohl damit das bisherige Ungleichgewicht in den
        Lohnniveaus danach ja immer noch existent ist und den Wettbewerb weiterhin verzerrt! Zweitens wird wieder nur ein einseitiger Grenzwert definiert, nämlich nach oben. Löhne dürfen also nur nicht zu schnell wachsen, Lohndumping bleibt weiterhin
        erlaubt. Wie das zu einem fairen Wettbewerb führen soll, der ja von den relativen (!) Lohnniveaus (!!) abhängt, ist ein absolutes Rätsel. Doch selbst die Wahl der Obergrenze ist gelinde gesagt suboptimal: In den jeweils letzten drei Jahren
        dürfen die Löhne nämlich maximal um 9% gestiegen sein, d.h. jährlich um knapp unter 3%. Mit Blick auf eine durchschnittliche Produktivitätssteigerung von 0.9% im Euroraum zwischen 2000 und 2007 (also bevor uns Finanz- und Eurokrise traf)
        bedeutet das, dass die warnende Obergrenze in Wirklichkeit das Lohnwachstum darstellt, dass erzielt werden muss, um eine Inflation von 2% zu erreichen.
      </p>
      <p>
        Die folgende Grafik zeigt alle Probleme auf einmal: Das vernachlässigte Problem des zu geringen Lohnwachstums (Deutschland vor der Finanzkrise), die Idiotie der Betrachtung von Steigerungsraten statt von Niveaus (man beachte, wie weit das
        deutsche Lohnniveau unter den anderen bei Verordnungserlass im Jahr 2011 lag!) und das systematische Untertreffen des Inflationsziels nach der Eurokrise. Diese Komponente des MIP ist so schlecht, dass es wehtut.
      </p>

      <div class="figure">
        <img src="/static/unattraktivster-sixpack-der-welt/lcu.png" id="lcu" />
        <p class="fig-desc">
          Eigene Darstellung
        </p>
      </div>

      <h4>6. Verordnung 1174/2011: Das unberührte Waffenarsenal</h4>

      <p>
        Okay, die Indikatoren und ihre Warnwerte sind also schlecht gewählt, aber immerhin gehen sie in die richtige Richtung und verhindern ein weiteres Auseinanderklaffen, oder? Das Bauchgefühl trügt auch hier nicht: Nein. Das liegt jedoch
        größtenteils weder am zu laschen Scoreboard noch an den in VO 1174 definierten Sanktionsmechanismen, die – wie bereits erwähnt – analog zum Defizitverfahren verlaufen: Empfehlungen, Einlagen, Geldbußen. Es liegt stattdessen an einem
        grundsätzlichen und einem praktischen Problem. Ersteres ist in VO 1174 sehr präsent: Hier wird das Eingreifen der EU bei makroökonomischen Ungleichgewichten mit dem Subsidiaritätsprinzip nach Art. 5 EUV gerechtfertigt,da zwischenstaatliche
        Ungleichgewichte nunmal nicht gut national angegangen werden können).Gleichzeitig wird für eine Stärkung des Binnenmarktes und des internationalen Handels plädiert, jedoch steht eine größere nationale Eigenverantwortung als Leitgedanke über
        allem. Damit erklären sich auch die Rufe nach mehr Wettbewerbsfähigkeit der Einzelstaaten, die ungefähr so unsinnig sind, wie am Kaffeetisch alle aufzufordern, sich doch mehr vom Kuchen zu nehmen, obwohl der Kuchen ja nicht größer wird und
        man sich daher – sofern der Kuchen ganz gegessen wird – nur gegenseitig etwas wegnehmen kann. Durch dieses Nationaldenken wird der enorme wirtschaftspolitische Spielraum der gemeinsamen Eurozone als monetärer Souverän mit eigener Währung
        komplett ignoriert, sodass ein energisches Fiskalpaket etwa nach dem Vorbild von Bidens USA unmöglich wird. Das zweite, praktische Problem ist aber fast noch frustrierender: die Kommission nutzt die ihr gegebenen Waffen nicht. Bei den
        jährlichen Reviews im Zuge des Europäischen Semesters erfüllt meist kein einziges Land die europäischen Ansprüche und einige davon werden auch unter besondere Aufsicht gestellt. Allerdings folgten daraus in der Vergangenheit keinerlei
        Konsequenzen, da selbst bei einem Feststellen „übermäßiger Ungleichgewichte“ bei jährlich ca. drei bis fünf Ländern bisher noch nie Verfahren eingeleitet wurden – teilweise mussten nicht einmal Programme mit Korrekturmaßnahmen vorgelegt
        werden. Ironisch ist auch, welche Länder die Kommission eines Fehlverhaltens bezichtigte, nämlich nicht die unfairen Dauerexporteure Deutschland oder die Niederlande, sondern ausgerechnet darunter leidende Staaten wie Italien, Frankreich oder
        Spanien! This hurts my brain.
      </p>
      <p>
        Man merkt also, es gibt am „Sixpack“ einiges zu kritisieren. Doch das ist nicht nur die Meinung von linken Oppositionellen, sondern auch die damalige Einschätzung des Europäischen Wirtschafts- und Sozialausschuss (EWSA) in seiner
        Stellungnahme von 2011 (ebenfalls unten angehängt). Der ESWA ist eine beratende Institution im EU-Gefüge und setzt sich aus Arbeitnehmer- und Arbeitgeberorganisationen sowie anderen Interessensvertretungen zusammen, wobei die
        Ausschussmitglieder von den nationalen Regierungen vorgeschlagen werden. Jenes Gremium war also auch Teil der Ausarbeitung des „Sixpacks“ und bezog recht deutlich eine kritische Stellung. So warnte es vor dem Irrglauben, dass
        Wettbewerbsunterschiede im Binnenmarkt nur vorübergehend bestehen und langfristig eine Konvergenz stattfinden würde. Zudem wurde zurecht darauf hingewiesen, dass die Vorgaben eine prozyklische Fiskalpolitik fördern und Rezessionen damit
        unnötig verlängern würden, da Nachfrageausfälle nicht vom Staat kompensiert werden können. Hier wurde auch vor den Gefahren eines Reputationsverlust der EU und der Gefahr von politischen Anti-Reaktionen mit politisch, ökologisch und sozial
        problematischen Folgen eindringlich gewarnt. Allein mit Blick auf Italien im Rückblick eine wahrlich prophetische Einsicht. Einige vom EWSA vorgeschlagene Änderungen wurden immerhin im Laufe der Verhandlungen übernommen: So hatte die
        Kommission zunächst geplant, Geldbußen direkt an die übrigens Mitglieder zu verteilen, und ging nun dazu über, dieses Geld dem Europäischen Stabilitätsmechanismus (ESM) zuzuführen. Ebenso wurde die Rolle des Europäischen Parlaments und der
        Dialog mit Sozialpartnern (die besonders für die Umsetzung lohnpolitischer Maßnahmen essenziell sind) gestärkt. Auf die fundamentalen Kritikpunkte ging es hingegen nicht ein, wie etwa auf den Vorschlag, man solle doch Produktionslücken als
        Indikator für eine Nachfrageschwäche und den Gini-Koeffizienten als Indikator für soziale Schieflagen im MIP-Scoreboard einführen (, was beides wirklich gute Ideen waren). Ebenso verwarf man die Kritik des EWSA daran, dass Überlegungen zum
        EU-Haushalt vollständig fehlten, obwohl dieser das einzige wirksame Mittel gegen asymmetrische Schocks (Probleme, die nur in einem Teil der Währungsunion auftreten) darstellt und entsprechend größer und flexibler hätte werden müssen. Das
        gleiche Schicksal traf die Forderung nach mehr EU-Aufsicht und Regulierung bei der Kreditvergabe, da vor 2007 eine überhitzte Vergabe von Hypothekendarlehen in Spanien und Irland für Immobilienblasen gesorgt hatte und schließlich in der
        Finanzkrise gemündet war.
      </p>
      <p>
        Das Fazit des EWSA behielt damit seine Gültigkeit: „Kurzfristige Ansätze“ wurden zum „Leitprinzip der europäischen Politik“ und „ad-hoc Maßnahmen [die] vorherrschenden Antworten auf Krisensituationen“. Von einem durch die nationalen
        Regierungen besetzen Beratergremium ist das wahrlich ein vernichtendes Urteil, das man im darauf folgenden Jahr 2012 fröhlich weiter ignorierte. Im damals beschlossenen Fiskalvertrag bezeichnete man die zuvor beschlossenen Vorgaben weiter als
        notwendig für die Stabilität des Euro-Währungsgebietes, zurrte sie im nationalen Recht erneut fest (teilweise mit leicht schärferen Richtwerten) und propagierte die gleichen neoliberalen Politikvorschläge wie jeher: Förderung der
        Wettbewerbsfähigkeit (obwohl ein Nullsummenspiel), Erhöhung der Beschäftigung (übersetzt „Arbeitsmärkte flexibilisieren und Löhne runter“, obwohl Nachfragelücke) und Fokus auf Wirtschaftswachstum (obwohl das mit diesen Rezepten eben gerade
        nicht funktioniert).
      </p>
      <p>
        Entsprechend gibt es auch heute noch von vielen Seiten sowohl Kritik als auch konstruktive Verbesserungsvorschläge. Diese sind sich alle darin einig, dass bei einer einheitlichen Geldpolitik und asymmetrischer Konjunktur mehr Spielraum für
        nationale Fiskalpolitik oder aber Umverteilungsmechanismen über europäische Fiskalpolitik absolut notwendig sind. So schlägt Sebastian Dullien (Leiter des IMK-Instituts der Hans-Böckler-Stiftung) etwa vor, man solle sich stärker an einer
        angehobenen Schuldenquote orientieren als am Haushaltsdefizit. Die Defizitbeschränkung bei 3% sollte stattdessen durch eine Ausgabenregel für nicht-investive, konjunkturunabhängige Ausgaben ersetzt werden. Achim Truger (u.a. Mitglied des
        Sachverständigenrates) hingegen plädiert für drei Anpassungen der haushaltspolitischen Vorgaben: Erstens eine Flexibilisierung durch verbesserte Berechnung des Potenzialwachstums als gleitender Durchschnitt der letzten Jahre (dies hätte den
        Vorteil, dass nicht die Verträge selbst, sondern „nur“ ein technisches Detail geändert werden müsste) sowie eine großzügigere Auslegung der Vereinbarungen durch die Kommission. Zweitens eine Anpassung der zentralen Zielwerte, z.B. durch
        Anhebung der angestrebten Schuldenquote auf 90% sowie das Herausrechnen von Nettoinvestitionen aus den Haushaltsdefiziten (die sog. „Goldene Regel der Finanzpolitik“). Und Drittens eine Demokratisierung des Europäischen Semesters durch die
        stärkere Berücksichtigung nicht-finanzieller Zielgrößen (Soziales, Ökologie etc.) und die Beteiligung diverser Expertengruppen. Gewiss würden derlei Reformen den SWP besser machen als er heute ist, das fundamentale Problem würde aber immer
        noch bleiben: Die Vernachlässigung der monetären Souveränität der Eurozone und die Fixierung auf sinnlose Finanzkennzahlen statt einer pragmatischen, bedarfsgerechten Politik.
      </p>
      <p>
        Doch halt! Riss der düstere Himmel europäischer Finanzpolitik nicht kürzlich auf, um dem Schein einer strahlenden Zukunft zu weichen? Ist nicht der Corona-Wiederaufbaufonds die neue Hoffnung für unseren Kontinent? Ja und Nein. Der
        Wiederaufbaufonds, dessen klangvoller Name „Next Generation EU“ lautet, hat ein Volumen von 750 Milliarden Euro, die sich aus 390 Milliarden Euro nicht zurückzuzahlenden Zuschüssen und 360 Milliarden Euro Krediten zusammensetzen. Von den 390
        Milliarden Zuschüssen sind 312 Milliarden als Aufbau- und Resilienzfazilität reserviert, für deren Erhalt sich die Mitgliedsländer mit zukunftsorientierten Programmen bewerben müssen (auch wenn z.B. Olaf Scholz für Deutschland hier
        größtenteils ohnehin beschlossene Projekte einreichte). Auf diesem Wege erhält die Kommission nach der oben beschriebenen Peitsche nun auch ein Zuckerbrot, um eigene Ziele durchsetzen – auch wenn die sog. „geizigen Vier“ (Niederlande,
        Österreich, Schweden, Dänemark) in einem Akt egoistischer Ahnungslosigkeit durchsetzten, dass der Europäische Rat allen Programmen zur Mittelverwendung mit qualifizierter Mehrheit zustimmen muss (bezeichnend für das politische Klima und
        gegenseitige Vertrauen in der EU). Grundsätzlich sind sich alle Beteiligten und Beobachter einig, dass der Wiederaufbau dringend nötig war, da es zuvor nur eine neue Kreditlinie für den ESM über 240 Milliarden Euro gab, die bisher jedoch
        nicht angerührt wurde, weil der ESM seit der Eurokrise politisch als absolut toxisch gesehen wird. Dennoch gibt es einiges zu kritisieren: Das Volumen ist nicht ausreichend groß (man schaue sich nur mal im Vergleich an, was Biden in den USA
        auf den Tisch haut) und die 360 Milliarden Euro Kredite werden die Haushalte aller Mitglieder in Zukunft belasten. Zudem musste man für politische Unterstützung von rechter Seite (v.a. die „geizigen Vier“ sowie Polen und Ungarn) einen
        bitteren Kuhhandel eingehen, an dessen Ende ein ausgehöhlter Rechtsstaatsmechanismus, höhere Budgetrabatte für einzelne Länder sowie ein EU-Haushalt mit Kürzungen in zentralen Zukunftsprogrammen (Forschung: Horizon 2020, Gesundheit:
        EU4Health, Ökologische Transformation: Just transition fund) stehen. Dennoch überwiegen meiner Meinung nach die positiven Aspekte, denn es fand ein echter Paradigmenwechsel statt: Erstmals nimmt die EU gemeinschaftlich Schulden auf (v.a. 750
        Milliarden Euro für „Next Generation EU“ und zusätzlich bis zu 100 Milliarden Euro für das Kurzarbeitergeld SURE), für die alle Länder gemäß ihren Anteilen am EU-Haushalt haften. Gewiss, es wird stets betont, dass dies eine einmalige Aktion
        sei, aber wer würde die Argumentation bei der nächsten Krise noch halten können? Die gemeinschaftliche Verschuldung allein ist also schon ziemlich gut, aber es wird noch viel besser: Die EU-Staaten haben der EU zur Tilgung nämlich eigene
        Einnahmequellen in Aussicht gestellt, darunter eine Plastikabgabe, einen CO2-Grenzausgleich sowie – möglicherweise – eine Finanztransaktionssteuer. Bisher hatte die EU kaum eigene Einnahmen (in erster Linie Zölle, Geldbußen von Unternehmen
        und Anteile am Mehrwertsteueraufkommen der Mitglieder), sondern war von den Überweisungen der Mitgliedsstaaten abhängig. Nun jedoch haben sich diese nicht nur zu EU-eigenen Steuern bekannt, sie haben sogar ein eigenes Interesse daran, diese
        auch wirksam einzuführen, da sie andernfalls selbst für die aufgenommenen Kredite haften müssen.
      </p>
      <p>
        Der Aufbaufonds ist damit wahrlich ein großer Schritt, der jedoch gegen jegliche Verwässerung und politische Polemik geschützt werden muss. Letztere kommt etwa vom Bundesrechnungshof (BRH), der in den gemeinsamen Schulden eine „Gefährdung der
        EU“ erkennen will (so als würden Massenarbeitslosigkeit und Fiskalkorsetts den Zusammenhalt nicht seit Jahren gefährden). Es mag überraschen, dass sich der BRH so äußert, und es ist in jedem Fall ein unverschämtes Manöver jenseits seiner
        Zuständigkeit, aber so richtig verwundern sollte es uns nicht. An der Spitze des BRH stehen nämlich (Stand 2021) zwei Juristen aus den beiden Parteien, die 2011 als Regierung auch den „Sixpack“ der EU verhandelten und bis heute für die oben
        beschriebene, desaströse Finanzpolitik stehen: CDU und FDP.
      </p>
    </div>

    <div class="bottom">
      © Florian Frühhaber
    </div>

</body>

</html>
