<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Naive Economics</title>
  <link rel="icon" href="/static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <!-- Nav Bar -->

  <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
    <a class="navbar-brand" href="./">Naive Economics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="./articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Models</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about-me">About Me</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">

    <!-- Welcome Text -->

    <div>
      <h2 >Thank you for subscribing!</h2>
      <p style="width:70%; margin: auto; font-style: italic;">
        If you want your mail-address to be deleted, send a quick message to naive.economics@gmail
      </p>
      <p style="width:70%; margin: auto; font-style: italic;">
        (this is also the address where notifications will be coming from)
      </p>
    </div>

    <hr />

    <div style="width: 90%; margin: auto;">
      <div class="row">
        <div class="col-lg-4">
          <div class="card intro-card">
            <div class="card-body">
              <h5 class="card-title">Articles</h5>
              Articles (in German and English) about economic theory and policy.
              <a class="stretched-link" href="./articles"></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card intro-card-soon">
            <div class="card-body">
              <h5 class="card-title">Dashboard</h5>
              An interactive Dashboard with various economic data. (<i>coming soon</i>)
              <!-- <a class="stretched-link" href="./dashboard.html"></a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card intro-card-soon">
            <div class="card-body">
              <h5 class="card-title">Models</h5>
              Diving deeper with economic models and understanding econ academia. (<i>coming soon</i>)
              <!-- <a class="stretched-link" href="./modelling.html"></a> -->
            </div>
          </div>
        </div>
      </div>

    </div>

    <hr />

    <div class="desc">
      Hello there! I am happy you found your way to my website. I am currently an economics
      student at the University of Mannheim and keen on understanding the economy better
      from various perspectives. On this website, I want to share with you
      concepts, ideas and tools to assess and improve our economic system.
    </div>

  </div>

  <div class="navbar-bottom bottom">
    © Florian Frühhaber
  </div>

</body>

</html>
